input[type="text"] {
  background-color: rgb(224, 239, 245);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 6px 3px;
  border: 2px solid skyblue;
  width: 200px;
  margin-bottom: 10px;
}

::placeholder {
  color: rgb(47, 82, 95);
  font-weight: bold;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(47, 82, 95);
  font-weight: bold;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(47, 82, 95);
  font-weight: bold;
}

.searchButton {
  cursor: pointer;
  background-color: skyblue;
  border: none;
  color: white;
  padding: 5px 3px;
  text-align: center;
  text-decoration: none;
  /* position: absolute; */
  /* top: 100px; */
  /* left: 255px; */
  font-size: 16px;
  border-radius: 5px;
  /* margin-left: 5px; */
}
